/*///////*/
/*///////*/
/* fonts */
/*///////*/
/*///////*/

/* k2d-700 - latin */
@font-face {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    src: 
    url('../static/assets/fonts/k2d-v9-latin-700.woff') format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../static/assets/fonts/k2d-v9-latin-700.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    
}
/* jura-regular - latin */
@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../static/assets/fonts/jura-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../static/assets/fonts/jura-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*///////////*/
/*///////////*/
/* variables */
/*///////////*/
/*///////////*/

:root {
    --extraLarge: 80px;
    --extraLargePhone: 50px;
    --styleBlue: #46D0EE;
    --styleYellow: #FAC96B;
    --styleBlack: #0D0E14;
}

/*////////*/
/*////////*/
/* design */
/*////////*/
/*////////*/

h1, h2, h3 {
    font-family: 'K2D';
}

p {
    font-family: 'Jura';
}


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    color: white;
    /* !important! */
    user-select: none;
    touch-action: none;
}

input[type="radio"] {
    display: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    /* outline: none; */
    /* display: none; */
}

#threeJs-background 
{
    position: absolute;
    background: radial-gradient( rgba(77,61,37,1) 5%, #0D0E14 70%);
    width: 100%;
    height: 100%;
}

#home-screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

#grid {
    position: absolute;
    display: grid;
    align-items: center;
    height: 100%;
    width:90%;
    padding: 0px 5%;
    /* padding: 0px 70px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px auto 90px;
    grid-template-areas: 
        "headerLeft headerRight"
        ". ."
        "footer footer"
    ;
}

#menu-button {
    display: none;
    justify-self: right;
    z-index: 10;
}

#expressions {
    display: flex;
    justify-self: right;
}
#expressions label {
    display: flex;
    margin-left: 10px;
    border-radius: 100%;
}
#expressions img {
    border-radius: 100%;
    margin: -1px;
}
#expressions input[type="radio"]:checked + label {
    transition: 0.2s;
    box-shadow: 0px 0px 7px 3px var(--styleBlue);
}

#home-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* width: max-content; */
    left: 20%;
    top: 50%;
    transform: translate(0, -50%)
}
#home-menu h1 {
    display: inline-block;
    font-size: var(--extraLarge);
    /* margin: 10px 0px; */
    margin: 2% 0px;
    
}
#home-menu div {
    animation-name: floating;
    animation-duration: 2.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#home-menu div:nth-of-type(2) {
    animation-delay: -1s;
    animation-duration: 4s;
}
#home-menu div:nth-of-type(4) {
    animation-delay: -2s;
}
#home-menu div:nth-of-type(3) {
    animation-delay: -0.5s;
    animation-duration: 2.5s;
}
#home-menu div:nth-of-type(5) {
    animation-delay: -2.5s;
    animation-duration: 3.5s;
}



.interact {
    cursor: pointer;
    transition: 0.2s;
    
}

.__pulse:not(:active) {
    animation: pulse 1.2s ease-out;
    
}

@media (hover: hover) and (pointer: fine) {
    .__scale:hover {
        transform: scale(1.2); /*1.2*/
        transition: 0.2s;
    }
}

@media screen and (max-width: 1000px) {
    #menu-button {
        display: block;
    }

    #expressions {
        grid-area: footer;
        justify-self: center;
    }

    #home-menu {
        display: none;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.712);
    } 
    #home-menu h1 {
         font-size: var(--extraLargePhone);
    }

}

/*////////////*/
/*////////////*/
/* animations */
/*////////////*/
/*////////////*/

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes pulse {
    0% {
        text-shadow: -1px -1px 0, 1px -1px 0, -1px 1px 0, 1px 1px 0;
    }
    5% {
        /* color: var(--styleBlue); */
        text-shadow: -2px -2px 8px var(--styleBlue), 2px -2px 8px var(--styleBlue), -2px 2px 8px var(--styleBlue), 2px 2px 8px var(--styleBlue);
    }
    100% {
        
    }
}