*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#threeJs-background 
{
    position: absolute;
    background: radial-gradient( rgba(77,61,37,1) 5%, #0D0E14 70%);
    width: 100%;
    height: 100%;
}