/*///////*/
/*///////*/
/* fonts */
/*///////*/
/*///////*/

/* k2d-700 - latin */
@font-face {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    src: 
    url('../../static/assets/fonts/k2d-v9-latin-700.woff') format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../static/assets/fonts/k2d-v9-latin-700.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    
}
/* jura-regular - latin */
@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 300;
    src: 
    url('../../static/assets/fonts/jura-v24-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../static/assets/fonts/jura-v24-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$colorBlack: #181b29;
$colorBlue: #4ddeff;
$colorYellow: #ffbf6e;
$colorRed: #fc4c4c;
$colorWhite: #f8f8f8;
$layerPortraitMenu: 30;
$zLayer1: 10;

$fontSizeText: 16px;
$fontSizeTitle: 20px ;
$fontSizeLarge: 100px;

/*////////*/
/*////////*/
/* design */
/*////////*/
/*////////*/

html, body {
    margin: 0;
    overflow-x: hidden;
    color: $colorWhite;
    
}

h1, h2, h3 {
    font-family: 'K2D';
    font-size: $fontSizeTitle;
    margin: 0;
}
p, li {
    font-family: 'Jura';
    font-size: $fontSizeText;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $colorWhite;
}

main {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin: auto;
    width: 100%;
}

.background {
    position: fixed;
    z-index: -1;
    width: 400%;
    height: 300%;
    background-image: url("/static/assets/images/background.png");
    background-repeat: repeat;
    transform-origin: 0% 0%;
    transform: rotate(10deg) translate(-12.5%, -12.5%) scale(0.6);
}

.portrait-menu {
    display: none;
    opacity: 0;
    z-index: $layerPortraitMenu;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000d2;

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100%;
    }
    &__item {
        font-family: 'k2d';
        font-size: calc(30px + 4vmin);
        margin: 4px 0;
    }

    &__button {
        display: none;
        cursor: pointer;
        z-index: $layerPortraitMenu;
        position: fixed;
        bottom: 5%;
        right: 5%;
        height: 18px;
        width: 30px;

        &--part {
            position: absolute;
            width: inherit;
            box-shadow: 0px 0px 8px 0px #000000;
            left: 0;
        }
        &__top {
            top: 0;
            
        }
        &__mid {
            top: 50%;
            transform: translate(0, -50%);
        }
        &__bot {
            bottom: 0;

        }
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: $layerPortraitMenu;
    width: 90%;
    max-width: 1300px;
    padding: 0px 20px;
    margin: 20px 0px;

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 500px;

        &__item {
            font-size: 20px;

            
        }

        &__item a {
            transition: 0.5s;
        }
        &__item a:hover {
            color: $colorYellow;
            letter-spacing: 0.5em;
            // animation: menuItemHover 0.5s ;
        }
    }
}

.logo {

    width: 200px;
    transition: 0.2s;
}
.logo:hover {
    transform: scale(1.1);
}


.scrolling-title {
    display: flex;
    width: 100%;

    &__text {
        user-select: none;
        font-size: $fontSizeLarge;
        white-space: nowrap;
        color: #ffffff25;
        animation: scrollText 30s infinite linear;
        
    }
}

.specific-content {
    // width: 100%;
    max-width: 1000px;
    // padding: 0px 40px;
    // margin: 0px 4% 40px;
    margin: 30px auto 40px;
}

.portfolio {
    // margin: 0px 4%;

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 8px;
        row-gap: 8px;
    }

    &__item {
        cursor: pointer;
        position: relative;
        border-radius: 3%;
        overflow: hidden;
        aspect-ratio: 1 / 1;

        &__thumbnail {
            position: absolute;
            // transform-origin: 50% 50%;
            transition: 0.3s;
            height: 100%;
            border-radius: 15px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &__info {
            position: absolute;
            transition: 0.3s;
            bottom: -50%;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px -80px 50px -40px #090b14;
        }

        &__title {
            position: absolute;
            bottom: 15%;
            left: 8%;
        }
        &__type {
            position: absolute;
            margin: 0;
            bottom: 7%;
            left: 8%;
        }
        &__date {
            position: absolute;
            margin: 0;
            bottom: 7%;
            right: 8%;
        }

    }
    &__item:hover &__item__info {
        bottom: 0;
    }
    &__item:hover &__item__thumbnail {
        transform: translate(-50%, 0) scale(1.1);
    }
}

.portfolio-image-viewer {
    

    &__container {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        
    }

    &__close-button {
        position: absolute;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0.5;
        top: -14px;
        right: -14px;
    }
    &__close-button:hover {
        opacity: 1;
    }

    &__info {
        position: relative;
        height: 100px;
        margin-top: 2%;
    }
    &__title {
        position: absolute;
    }
    &__link {
        position: absolute;
        top: 30px;
    }
    &__date {
        position: absolute;
        right: 0;

    }
}

.carousel {
    overflow: hidden;
    border-radius: 14px;
    background-color: #060c22;
    height: 100%;

    &__slider {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // width: 100%;
        height: 100%;
    }
    

    &__slide { 
        position: relative;
        // width: 300px;
        // aspect-ratio: 16/9;
        width: 100%;
        height: 100%;
    }
}

.image-viewer__dots {
    display: flex;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    justify-content: space-evenly;
}
.image-viewer__dot {
    appearance: none;
    cursor: pointer;
    transition: 0.2s;
    width: 5%;
    box-shadow: 0px 0px 8px 0px #000000;
    aspect-ratio: 1 / 1;
    margin: 0;
    border-radius: 100%;
    background-color: white;
}
.image-viewer__dot:hover {
    background-color: #ffbf6e;
    transform: scale(1.15);
}
.image-viewer__dot:checked {
    background-color: $colorBlue;
}

.portfolio-image {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate( -50%, 0 );
}

.selected {
    color: $colorBlue;
}

/*////////////*/
/*////////////*/
/* responsive */
/*////////////*/
/*////////////*/

@media (orientation: portrait) {
    .portrait-menu__button {
        display: block;
    }

    .header {
        justify-content: center;

        &__menu {
            display: none;
            
        }
    }

    .specific-content {
        margin-left: 4%;
        margin-right: 4%;
    }

    .portfolio {
        &__item {

            &__info {
                bottom: 0;
            }
        }
    }

    .portfolio-image-viewer {
        &__container {
            aspect-ratio: auto;
            height: 560px;
        }
    }

    .carousel {
        &__slider {
            aspect-ratio: auto;
        }

        &__slide {
            aspect-ratio: auto;
        }
    }
}

@media (max-width: 946px) {
    .portfolio {
        &__items {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 740px) {
    .portfolio {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 522px) {
    $fontSizeText: 12px;
    $fontSizeTitle: 14px;

    h1, h2, h3 {
        font-family: 'K2D';
        font-size: $fontSizeTitle;
        margin: 0;
    }
    p, li {
        font-family: 'Jura';
        font-size: $fontSizeText;
    }
}

/*///////////*/
/*///////////*/
/* animation */
/*///////////*/
/*///////////*/

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

